.comment.well{id: "comment_#{comment.id}"}
  %p
    %strong
      = comment.user
  %p
    = comment.body
  %p.pull-right
    - if policy(comment).destroy?
      = link_to t('destroy'), [@commentable, comment], method: :delete,
      data: { confirm: t('confirm') }, class: 'btn-xs btn-danger'
