= form_tag(reports_path, method: :get, remote: true, id: 'report_search_form') do
  = text_field_tag :by_search, params[:by_search], placeholder: 'Search'
  = select_tag :by_user, options_from_collection_for_select(User.all, :id, :name), include_blank: true
  = submit_tag 'Search', name: 'search'
